In [1]:
import pandas as pd
from functions import *
import numpy

df = pd.DataFrame({'x': [1,2,3,4,5,6,7,4,7,4,5,4], 'y' : [3,4,5,64,3,3,6,3,2,5,2,4], 'z' : [3,6,2,6,3,3,67,4,67,4,3,4], 'particle_id': [1,1,1,3,3,3,4,4,4,5,5,5]})
display(df)
sort_radius(df, dimension=2, cartesian_values = ['x','z'])

2021-11-30 20:17:49.730121: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2021-11-30 20:17:49.730149: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

    x   y   z  particle_id
0   1   3   3            1
1   2   4   6            1
2   3   5   2            1
3   4  64   6            3
4   5   3   3            3
5   6   3   3            3
6   7   6  67            4
7   4   3   4            4
8   7   2  67            4
9   4   5   4            5
10  5   2   3            5
11  4   4   4            5

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

    x   y   z  particle_id  radius
0   1   3   3            1    10.0
2   3   5   2            1    13.0
7   4   3   4            4    32.0
9   4   5   4            5    32.0
11  4   4   4            5    32.0
4   5   3   3            3    34.0
10  5   2   3            5    34.0
1   2   4   6            1    40.0
5   6   3   3            3    45.0
3   4  64   6            3    52.0
6   7   6  67            4  4538.0
8   7   2  67            4  4538.0

In [3]:
train_data_x, train_data_y, test_data_x, test_data_y, max_values = train_test_split(df, width=5, dimension=2,
                                                                                   variables=['x','y'])
display('train_data_x', train_data_x)
display('train_data_y', train_data_y)
display('test_data_x', test_data_x)
display('test_data_y', test_data_y)
print('max_values', max_values)

Empty DataFrame
Columns: [x, y, z, particle_id, radius]
Index: []
[]
Empty DataFrame
Columns: [x, y, z, particle_id, radius]
Index: []

 Training on this many different groups:
 0

'train_data_x'

[]

'train_data_y'

[]

'test_data_x'

[]

'test_data_y'

[]

max_values [nan, nan]